@model List<TechnicHub.Models.Chatroom>;

@{
    ViewData["Title"] = "Chatroom List";
}

<div>
    <table>
        <thead>
            <tr>
                <th colspan="7">
                    alle registrierten Chatrooms
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th> ID</th>
                <th> Name</th>
                <th> Description</th>

                <th> Message Count</th>

            </tr>
            @foreach (Chatroom c in Model)
            {
        <tr>
            <td>@c.Id</td>
            <td>@c.Name</td>
            <td>@c.Description</td>
            <td>@c.MessageCount</td>
            <td>
                <form action="/user/Chatforum/@c.Id" method="get">
                    <input type="submit" value="Join" />
                </form>
            </td>
            <td>
                <form action="/user/delete/@c.Id" method="get">
                    <input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
            }
            </tbody>
</table>
       
       
    


        <form action="/user/addChatroom" method="get">
            <input type="submit" value="Add" />
        </form>
    

</div>

<br /><br />


@*<p> 
        <label asp-for="ChatpostMessage"> Nachricht</label> <br />
        <input type="text" asp-for="ChatpostMessage" />
        <span asp-validation-for="ChatpostMessage"></span>  
       
        <input type="submit" value="Senden" />

    </p>*
    
    @* <p>@Model.ChatpostUser schrieb: </p>
    <br/>
    <p>@Model.ChatpostMessage</p>*@