@model TechnicHub.Models.ProfileAndLanguages

@{
    ViewData["Title"] = "Profil";
}

<table class="table table-dark">
    <thead>
        <tr>
            <th colspan="7">
                Your Data
            </th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <th>User Id </th>
            <td>@Model.Profile.UserId</td>
        </tr>


        <tr>
            <th>Username</th>
            <td>@Model.Profile.Username</td>
        </tr>

        <tr>
            <th>Birth-Date</th>
            <td>@Model.Profile.Birthdate.ToLongDateString()</td>
        </tr>

        <tr>
            <th>Gender</th>
            <td>@Model.Profile.Gender</td>

        </tr>
        <tr>
            <th>Mail</th>
            <td>@Model.Profile.EMail</td>
        </tr>
        <tr>

            <th> Programming Languages</th>
            @{ string lang = "";}
            @foreach (string s in Model.Languages)
            {
                lang += s + ", ";


            }
            <td>@lang</td>
        </tr>


    </tbody>





</table>


    <form action="/profile/delete/@Model.Profile.UserId" method="get">
        <input class="btn btn-primary btn-group" type="submit" value="löschen" />
    </form>

<br />

    <form action="/profile/updateProfile/@Model.Profile.UserId" method="get">
        <input class="btn btn-primary btn-group" type="submit" value="ändern" />
    </form>

